Repository telekom/sparrow, pull requests merged in 2024-03, with the labels that each got.

#117 chore: bump go v1.22 & general housekeeping
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/prune.yml
  .golangci.yaml
  .pre-commit-config.yaml
  cmd/run.go
  go.mod
  pkg/api/api.go
  scripts/gen-docs/gen-docs.go
Labels: housekeeping

#113 Feat/traceroute
  .vscode/launch.json
  README.md
  go.mod
  go.sum
  pkg/checks/runtime/config.go
  pkg/checks/traceroute/config.go
  pkg/checks/traceroute/traceroute.go
  pkg/checks/traceroute/traceroute_test.go
  pkg/factory/factory.go
  scripts/debug-elevated.sh
Labels: feature, area/checks

#119 fix/manager-timers
  pkg/sparrow/gitlab/test/mockclient.go
  pkg/sparrow/targets/gitlab.go
  pkg/sparrow/targets/gitlab_test.go
Labels: bug, area/target-manager

#118 feat: add optional text handler for the logger
  .github/workflows/prune.yml
  README.md
  chart/README.md
  chart/values.yaml
  go.mod
  internal/logger/logger.go
  internal/logger/logger_test.go
Labels: feature

#121 Remove unused errors
  go.mod
  pkg/checks/base.go
  pkg/checks/base_moq.go
  pkg/checks/dns/dns.go
  pkg/checks/dns/dns_test.go
  pkg/checks/health/health.go
  pkg/checks/health/health_test.go
  pkg/checks/latency/latency.go
  pkg/checks/latency/latency_test.go
  pkg/checks/traceroute/traceroute.go
  pkg/sparrow/controller.go
  pkg/sparrow/controller_test.go
  pkg/sparrow/targets/gitlab.go
Labels: refactoring, area/checks

#115 feat: load check config on startup
  .pre-commit-config.yaml
  go.mod
  pkg/api/api.go
  pkg/api/api_test.go
  pkg/checks/dns/dns.go
  pkg/checks/health/health.go
  pkg/checks/latency/latency.go
  pkg/checks/traceroute/traceroute.go
  pkg/config/file.go
  pkg/config/http.go
  pkg/config/http_test.go
Labels: feature, area/api

#116 feat: startup probe
  chart/README.md
  chart/templates/deployment.yaml
  chart/values.yaml
Labels: feature, area/helm

#122 refactor: genericize target manager
  .pre-commit-config.yaml
  chart/README.md
  pkg/sparrow/run.go
  pkg/sparrow/run_test.go
  pkg/sparrow/targets/errors.go
  pkg/sparrow/targets/interactor/config.go
  pkg/sparrow/targets/manager.go
  pkg/sparrow/targets/manager_test.go
  pkg/sparrow/targets/remote/gitlab/gitlab.go
  pkg/sparrow/targets/remote/gitlab/gitlab_test.go
  pkg/sparrow/targets/remote/remote.go
  pkg/sparrow/targets/remote/test/remotemock.go
  pkg/sparrow/targets/targetmanager.go
  pkg/sparrow/targets/targetmanager_test.go
  pkg/sparrow/targets/test/managermock.go
Labels: refactoring, area/target-manager
