Repository telekom/sparrow, pull requests merged in 2024-06, with the labels that each got.

#134 chore: (automate) housekeeping
  .github/dependabot.yml
  .github/workflows/pre-commit.yml
  .golangci.yaml
  .goreleaser-ci.yaml
  .goreleaser.yaml
  .pre-commit-config.yaml
  Dockerfile
  chart/README.md
  go.mod
  go.sum
  pkg/sparrow/controller.go
Labels: housekeeping, dependencies, area/ci

#145 Feat/https for everyone
  README.md
  pkg/api/api.go
  pkg/api/api_test.go
  pkg/config/config.go
  pkg/config/validate.go
  pkg/config/validate_test.go
  pkg/sparrow/run_test.go
  pkg/sparrow/targets/errors.go
  pkg/sparrow/targets/manager.go
  pkg/sparrow/targets/manager_test.go
  pkg/sparrow/targets/targetmanager.go
  pkg/sparrow/targets/targetmanager_test.go
Labels: feature, request/internal, security, area/api, area/target-manager

#146 feat: fix dangaling metrics regading status code
  README.md
  pkg/checks/latency/latency.go
Labels: bug, area/checks

#149 fix: enrich targets now accepts any scheme
  pkg/sparrow/run.go
  pkg/sparrow/run_test.go
Labels: bug

#152 fix: initial registration is now aware of scheme
  pkg/sparrow/targets/manager.go
Labels: bug, area/target-manager
