Repository telekom/sparrow, pull requests merged in 2024-09, with the labels that each got.

#153 chore(deps): bump github.com/spf13/viper from 1.19.0 to 1.20.0-alpha.6
  .github/workflows/pre-commit.yml
  .golangci.yaml
  .goreleaser-ci.yaml
  .goreleaser.yaml
  cmd/root.go
  go.mod
  go.sum
  pkg/checks/traceroute/traceroute.go
Labels: housekeeping, area/config, dependencies

#182 feat: add configurable branches for gitlab target manager
  README.md
  pkg/sparrow/targets/manager.go
  pkg/sparrow/targets/remote/gitlab/gitlab.go
  pkg/sparrow/targets/remote/gitlab/gitlab_test.go
  pkg/sparrow/targets/remote/remote.go
Labels: feature, area/target-manager, area/config

#192 fix: use timer to avoid flaky tests
  pkg/sparrow/targets/manager_test.go
Labels: bug, area/target-manager

#180 Fix/remove labelled metrics
  .golangci.yaml
  .pre-commit-config.yaml
  pkg/checks/base.go
  pkg/checks/base_moq.go
  pkg/checks/dns/dns.go
  pkg/checks/dns/dns_test.go
  pkg/checks/dns/metrics.go
  pkg/checks/errors.go
  pkg/checks/health/health.go
  pkg/checks/health/health_test.go
  pkg/checks/health/metrics.go
  pkg/checks/latency/latency.go
  pkg/checks/latency/latency_test.go
  pkg/checks/latency/metrics.go
  pkg/checks/traceroute/check.go
  pkg/checks/traceroute/metrics.go
  pkg/factory/factory.go
  pkg/factory/factory_test.go
  pkg/sparrow/controller.go
Labels: bug, area/checks

#195 chore: repo housekeeping
  CODEOWNERS
  NOTICE
  pkg/api/errors.go
  pkg/checks/health/metrics.go
  pkg/checks/latency/metrics.go
  pkg/checks/traceroute/check.go
  pkg/checks/traceroute/check_test.go
  pkg/checks/traceroute/config.go
  pkg/checks/traceroute/metrics.go
  pkg/checks/traceroute/traceroute.go
  pkg/checks/traceroute/traceroute_test.go
Labels: housekeeping
