Repository telekom/sparrow, pull requests merged in 2025-01, with the labels that each got.

#246 Feat/decode gitlab error
  pkg/sparrow/targets/manager.go
  pkg/sparrow/targets/remote/gitlab/gitlab.go
Labels: area/target-manager

#247 ci: generate sboms for provided packeges in a release
  .github/workflows/ci.yml
  .github/workflows/e2e_checks.yml
  .github/workflows/release.yml
  .goreleaser-ci.yaml
  .goreleaser.yaml
  scripts/sbom/README.md
  scripts/sbom/example.sbom.tmpl
Labels: area/ci

#245 No more sending on closed channels during checkscontroller shutdown
  .github/workflows/pre-commit.yml
  cmd/run.go
  pkg/api/api_test.go
  pkg/checks/runtime/checks.go
  pkg/sparrow/controller_test.go
  pkg/sparrow/handlers_test.go
  pkg/sparrow/run.go
  pkg/sparrow/run_errors.go
Labels: bug, area/checks-controller
